<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css" />

    <script type="text/javascript">
        function dropdown_bodypart() {
            $("#bodyparts_dropdown").html('');
            $.json("http://127.0.0.1:5000/bodyparts").then(
                function(response){
                    let body_parts = response["body_parts"];
                    for (let i = 0; i < body_parts.length; i++){
                        append_to_dropdown_bodypart(body_parts[i]["body_part_name"])
                    }

                }
            );
        }
        
        function append_to_dropdown_bodypart(body_part){
            let tmp_html = '<li><a href="#">'+body_part+'</a></li>'
            $('#bodyparts_dropdown').append(tmp_html)
        }
        
    </script>
    


</head>

<body>
    <div class="container">
        <div class="grid">
            <div class="row">
                <!-- body-part here -->
                <div class="cell-6">
                    <div class="dropdown-button">
                        <button class="button dropdown-toggle" onclick="dropdown_bodypart()">Button</button>
                        <ul class="d-menu" data-role="dropdown" id="bodyparts_dropdown">
                            <li><a href="#">This ill be replaced by data from the db.</a></li>
                        </ul>
                    </div>
                </div>
                <!-- exercise here -->
                <div class="cell-6">
                    <div class="dropdown-button">
                        <button class="button dropdown-toggle">Button</button>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="#">Reply</a></li>
                            <li><a href="#">Reply All</a></li>
                            <li><a href="#">Forward</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- set number here -->
            <div class="row">
                <div class="cell-12">
                    set number
                    <input type="text" data-role="spinner">
                </div>
            </div>
            <!-- weight here -->
            <div class="row">
                <div class="cell-12">
                    weight(kg)
                    <input type="text" data-role="spinner">
                </div>
            </div>
            <!-- reps here -->
            <div class="row">
                <div class="cell-12">
                    reps
                    <input type="text" data-role="spinner">
                </div>
            </div>
            <!-- register here -->
            <div class="row">
                <div class="cell-12">
                    <button class="button primary">등록하기</button>
                </div>
            </div>
            <!-- workout record here -->
            <div class="row">
                <div class="cell-12">
                    <table class="table striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bill</td>
                            <td>Gates</td>
                            <td>@billy</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Steve</td>
                            <td>Jobs</td>
                            <td>@stevy</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>Page</td>
                            <td>@larry</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- countdown start here-->
            <div class="row">
                <div class="cell-12">
                    <div id="countdown_events" data-role="countdown" data-start="false" data-seconds="10"
                        data-on-countdown-create="console.log('Countdown was created!')"></div>
                    <button class="button mt-2"
                        onclick="$('#countdown_events').data('countdown').start()">Start</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>

</html>