<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css" />

    <script type="text/javascript">
        function hostname() {
            window.value='http://127.0.0.1:5000'
        }

        //functions for body-part
        function append_bodyparts_for_dropdown() {
            hostname()
            $("#bodyparts_dropdown").html('');
            $.json(window.value+ "/bodyparts").then(
                function (response) {
                    let body_parts = response["body_parts"];
                    for (let i = 0; i < body_parts.length; i++) {
                        append_to_dropdown_bodypart(body_parts[i]["body_part_name"])
                    }

                }
            );
        }

        function append_to_dropdown_bodypart(body_part) {
            let tmp_html = '<li onclick="append_exercises_for_dropdown(' + "'" + body_part + "'" + ');put_body_part_next_to_button(' + "'" + body_part + "'" + ')"><a>' + body_part + '</a></li>'
            $('#bodyparts_dropdown').append(tmp_html)
        }

        function put_body_part_next_to_button(body_part) {
            // input next to the body_part button(needs to be separated)
            let tmp = '<strong id="value_for_body_part">' + body_part + '</strong>'
            $("#input_for_body_part").html(tmp)
        }

        //functions for exercise
        function append_exercises_for_dropdown(body_part) {
            hostname()
            $("#exercises_dropdown").html('');
            $.json(window.value + "/exercises").then(
                function (response) {
                    let exercises = response["exercises"];
                    console.log(exercises)
                    for (let i = 0; i < exercises.length; i++) {
                        let body_part_from_db = exercises[i]["body_part"]
                        if (body_part_from_db == body_part) {
                            append_to_dropdown_exercise(exercises[i]["exercise_name"])
                        }
                    }

                }
            );
        }

        function append_to_dropdown_exercise(exercise) {
            let tmp_html = '<li onclick="put_exercise_next_to_button(' + "'" + exercise + "'" + ');put_workoutrecord_table_on_dropdown(' + "'" + exercise + "'" + ')"><a>' + exercise + '</a></li>'
            $('#exercises_dropdown').append(tmp_html)
        }

        function put_exercise_next_to_button(exercise_name) {
            let tmp = '<strong id="exercise_name">' + exercise_name + '</strong>'
            $('#input_for_exercise').html(tmp)
        }
        
        //functions for adding new exercise
        function post_new_exercise() {
            input_for_body_part = $("#value_for_body_part").html()
            input_for_new_exercise = $("#input_for_new_exercise").val()
            $.json(window.value + "/body_part/" + input_for_body_part).then(
                function (response) {
                    body_part_id = response["id"]
                    $.post(window.value + "/exercise/" + input_for_new_exercise, {
                        body_part_id: body_part_id
                    }).then(
                        function (response) {
                            console.log(response)
                        }
                    )
                }
            )
        }

        //functions for registering workout-record
        function post_workout_record() {
            hostname()
            let exercise_name = $("#exercise_name").html()
            console.log(exercise_name)
            let set_number = $("#set_number").val()
            let weight = $("#weight").val()
            let reps = $("#reps").val()
            $.json(window.value + "/exercise/" + exercise_name).then(
                function (response) {
                    exercise_id = response['id']
                    $.post(window.value + "/workout_record", {
                        set_number: set_number,
                        weight: weight,
                        reps: reps,
                        exercise_id: exercise_id
                    }).then(
                        function (response) {
                            console.log(response)
                        }
                    )
                }
            )

        }

        function put_workoutrecord_table_on_dropdown(exercise) {
            hostname()
            let exercise_name = exercise
            $.json(window.value + "/exercise/" + exercise_name).then(
                function (response) {
                    exercise_id = response['id']
                    $.ajax({
                        url: window.value + "/workout_record_table",
                        method: "GET",
                        data: {
                            exercise_id: exercise_id
                        }
                    }).then(
                        function (response) {
                            response_json = JSON.parse(response)
                            $('#table_testing').html(response_json["response"])

                        }
                    )
                }
            )
        }

        function put_workoutrecord_table_on_register() {
            hostname()
            let exercise_name = $("#exercise_name").html()
            $.json(window.value + "/exercise/" + exercise_name).then(
                function (response) {
                    exercise_id = response['id']
                    $.ajax({
                        url: window.value + "/workout_record_table",
                        method: "GET",
                        data: {
                            exercise_id: exercise_id
                        }
                    }).then(
                        function (response) {
                            response_json = JSON.parse(response)
                            $('#table_testing').html(response_json["response"])

                        }
                    )
                }
            )
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="grid">
            <!-- buttons for body_part and exercise -->
            <div class="row">
                <!-- body-part here -->
                <div class="cell-3">
                    <div class="dropdown-button">
                        <button class="button dropdown-toggle" onclick="append_bodyparts_for_dropdown()">Button</button>
                        <ul class="d-menu" data-role="dropdown" id="bodyparts_dropdown">
                            <li><a>Select body part first.</a></li>
                        </ul>
                    </div>
                </div>
                <!-- body-part output -->
                <div class="cell-3">
                    <div id="input_for_body_part">
                    </div>
                </div>
                <!-- exercise here -->
                <div class="cell-3">
                    <div class="dropdown-button">
                        <button class="button dropdown-toggle">Button</button>
                        <ul class="d-menu" data-role="dropdown" id="exercises_dropdown">
                            <li><a href="#">This will be replaced by data from the db.</a></li>
                        </ul>
                    </div>
                </div>
                <!-- exercise output-->
                <div class="cell-3">
                    <div id="input_for_exercise">
                    </div>
                </div>
            </div>
            <!-- Add new exercise -->
            <div class="row">
                <div class="cell-10">
                    <input type="text" data-role="input" data-prepend="New Exercise: " id="input_for_new_exercise">
                </div>
                <div class="cell-2">
                    <button class="button primary" onclick="post_new_exercise()">Add</button>
                </div>
            </div>
            <!-- set number here -->
            <div class="row">
                <div class="cell-12">
                    set number
                    <input type="text" data-role="spinner" data-min-value="1" id="set_number">
                </div>
            </div>
            <!-- weight here -->
            <div class="row">
                <div class="cell-12">
                    weight(kg)
                    <input type="text" data-role="spinner" data-min-value="1" data-step="2.5" data-fixed="1" id="weight">
                </div>
            </div>
            <!-- reps here -->
            <div class="row">
                <div class="cell-12">
                    reps
                    <input type="text" data-role="spinner" data-min-value="1" id="reps">
                </div>
            </div>
            <!-- register here -->
            <div class="row">
                <div class="cell-12">
                    <button class="button primary"
                        onclick="post_workout_record();put_workoutrecord_table_on_register()">Register</button>
                </div>
            </div>
            <!-- workout record here -->
            <div class="row">
                <div class="cell-12" id="table_testing">
                </div>
            </div>
            <!-- countdown start here-->
            <div class="row">
                <div class="cell-12">
                    <div id="countdown_events" data-role="countdown" data-start="false" data-seconds="10"
                        data-on-countdown-create="console.log('Countdown was created!')"></div>
                    <button class="button mt-2"
                        onclick="$('#countdown_events').data('countdown').start()">Start</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>

</html>