[Unit]
Description=uWSGI instance to serve ProgressiveOverload
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/progressiveoverload
Environment="PATH=/home/ubuntu/progressiveoverload/venv/bin"
ExecStart=/home/ubuntu/progressiveoverload/venv/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target